@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sanchez&family=Sansita+Swashed:wght@300..900&display=swap');

body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 100%;
font-family: "Poppins", sans-serif;
background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/nigeria.jpg');
}
.logo{
    width: 60%;
}
header{
    padding: 10px;
    position: fixed;
    z-index: 9999;
    width: 100%;
color: rgba(255, 255, 255, 0.96);
}

.toggle{
    display: none;
}

.links{
    display: flex;
    gap: 20px;
    font-weight: 300;

}
.links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
  transition: 0.5s ease-in-out;
    font-weight: 300;
}

.links a:hover{
    color: #b1fee4;
}
.navcontent{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #ffffff87;
    font-family: "Sanchez", serif;
}
.nigeria{
min-height: 100vh;

height: 100vh;

width: 100%;

}
.loading-over2 {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    backdrop-filter: blur(2px);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    align-items: center;
    justify-content: center;
}
.container {
    width: 1250px;
    margin: auto;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
header .container{
    background-color: transparent;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
} 
.navdata{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:1300px) {
    .container {
        width: 97%;
    }
    

}


.container{
    display: flex;
flex-direction: column;
gap: 30px;
align-items: center;
justify-content: center;
height: 100%;
}
.maincontent{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    color: white;
    margin-top: auto;
}
.sidedata, .end{
    width: 70%;
    display: flex;
    align-items: center;
    padding-top: 70px;
}

.socialmedia{
    display: flex;
    align-items: center;
    gap: 6px;
    flex-direction: column;
    
}

.socialmedia a{
    transition: 0.5s ease-in-out;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 14px;
}

.socialmedia a:hover{
    transform: translateX(10px);
}
.links, .logo, .contact{
    margin-bottom: 6px;
}
.mainarea{
 padding-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
align-items: center;
justify-content: center;
}
.serc{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2px;
    flex-direction: column;

}

.serc label{
    color: transparent;
}

.serc a{
    min-width: 100px;
    text-align: center;
border-radius: 9px;
padding-inline: 19px;
   
   text-decoration: none;
   color: white;
   padding: 10px;
   background-color: transparent;
   border: 1px solid #005337;
   font-family: "Sanchez", serif;
   color: #f3f3f3;
   font-size: 15px;
}
.footerbar{
    background-color: rgba(0, 0, 0, 0.477);
    padding: 15px;
    border-radius: 3px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.prg{
    font-size: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.footer{
    margin-top: auto;
    width: 100%;
}

.stxt{
    width:100% ;
    text-align: center;
    color: white;
    border-bottom: 3px solid #005337;
    width: fit-content;
    margin: auto;
    padding-inline: 15px;
    font-family: "Sanchez", serif;
}
label{
    font-family: "Sanchez", serif;
    color: #f3f3f3;
    font-size: 15px;
}
.state, .travelers, .date{
    width: 100%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.book{
    margin-top: 7px;
    background-color: #005337;
    border: 1px solid #005337;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding-inline: 15px;
    padding-block: 7px;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: 0.5s ease-in-out;
    text-align: center;
}

.book:hover{
    background-color: transparent;
    color:     #fff;
}
.contact a{
    padding-inline:10px ;
    padding-block: 9px;
    border: 2px solid #005337;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.contact a:hover{
    background-color: #005337;
    color: #fff;
}
.nigtext{
    font-family: "Sansita Swashed", system-ui;
    color: #b1fee4;
    font-size: 90px;
    font-weight: 200;
    background-image: url('https://plus.unsplash.com/premium_photo-1675865395171-4152ba93d11c?q=80&w=1450&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: right;
    background-size: 50%;
    font-weight: 900;
}

.container{

}

header{

}

select, input{
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.619);
    border: 1px solid rgba(0, 0, 0, 0.619);
    color: white;
    outline-color: #000;
    outline: none;
    font-family: "Sanchez", serif;
    color: #f3f3f3;
    font-size: 15px;
    box-shadow: none;
    -webkit-appearance: none; 
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.619);
        border: 1px solid rgba(0, 0, 0, 0.619);
        color: white;
        outline-color: #000;
        outline: none;
        font-family: "Sanchez", serif;
        color: #f3f3f3;
        font-size: 15px; 
        -webkit-appearance: none; 
}
input[type="text"], input[type="date"], input[type="password"], select {
    box-shadow: none;
-webkit-appearance: none; 
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.619);
    border: 1px solid rgba(0, 0, 0, 0.619);
    color: white;
    outline-color: #000;
    outline: none;
    font-family: "Sanchez", serif;
    color: #f3f3f3;
    font-size: 15px; 
    -webkit-appearance: none; 
}
.input{
    box-shadow: none;
-webkit-appearance: none; 
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.619);
    border: 1px solid rgba(0, 0, 0, 0.619);
    color: white;
    outline-color: #000;
    outline: none;
    font-family: "Sanchez", serif;
    color: #f3f3f3;
    font-size: 15px; 
    -webkit-appearance: none;  
}

input::-webkit-calendar-picker-indicator {
    color: white;
}

#myDateTimeField::-webkit-calendar-picker-indicator {
    color: white;
}

#myDateTimeField::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Invert the colors of the icon */
}


@media screen and (max-width:1000px) {
    .sidedata, .end{
        width: 20px;
    }
    .maincontent {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
    }
    
    
    
}
.navdata{
    transition: height 0.5s ease-in;

}
@media screen and (max-width:900px) {
    .footerbar{
        flex-direction: column;
        gap: 5px;
    }


    .serc a{
        width: 100%;
    }

    .navdata{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 64px;
        background-color: #0000006e;
        width: 93%;
        padding: -5px;
   
        gap: 20px;
        display: flex;

        height: 0px;
        flex-direction: column;
        position: absolute;
        top: 64px;
        overflow: hidden;
    }

    .logo{
        width: fit-content;
        
    }
    .toggle{
        display: flex;
    }
    .ovlshow{
        display: flex;
    }
    .navdatashow{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 64px;
        background-color: #0000006e;
        width: 93%;
        padding: 10px;
        height: 200px;
        gap: 20px;
    }
    .links{
        flex-direction: column;
        gap: 20px;
    }
    
}

@media screen and (max-width:800px) {
    .nigtext {
        font-family: "Sansita Swashed", system-ui;
        color: #b1fee4;
        font-size: 60px;
    }
    .mainarea {
        padding-top: 120px;
    }
    .maincontent{
        flex-direction: column-reverse;
    }
    .sidedata, .socialmedia{
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .sidedata, .end{
        padding: 0;
    }
}

@media screen and (max-width:700px) {

    .mainarea {
        padding-top: 47px;
    }
    
}